
@{
    ViewBag.Title = "ConfirmationSent";
}

<h2>Email Confirmation Sent</h2>

<div>
    <p>
        Your confirmation Email has been sent.
        @*Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
    </p>
</div>