@model XCalibre.Models.AdminUserViewModel
@{
    ViewBag.Title = "AdminUser";
}


@using (Html.BeginForm())
{



    <h2>Edit User Roles</h2>


    @Html.AntiForgeryToken()





    @Html.ListBox("SelectedRoles", Model.Roles)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

}

<h2>AdminUser</h2>

